
    <div class="content-container">
        <div class="content-area">


<div class="clr-row clr-justify-content-center">
    <div class="clr-col-4">
        <div class="card">
            <div class="card-header">
                Login
            </div>
            <div class="card-block">

                <div class="card-text">
                    <form [formGroup]="userLoginForm" (ngSubmit)="onSubmitLogin()">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && formFields.username.errors }" />
                            <div *ngIf="submitted && formFields.username.errors" class="invalid-feedback">
                                <div *ngIf="formFields.username.errors.required">Please enter username</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && formFields.password.errors }" />
                            <div *ngIf="submitted && formFields.password.errors" class="invalid-feedback">
                                <div *ngIf="formFields.password.errors.required">Please enter Password</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button [disabled]="loading" class="btn btn-primary">
                                Login
                            </button>
                            <a routerLink="/register" class="btn btn-link">Register</a>
                        </div>
                    </form>                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>