


<div class="content-container">
  <div class="content-area">




<div class="clr-row"  *ngIf="!hideAthDisplay"><!--row is hidden is user is a Coach-->
<div class="clr-col-6" *ngIf="!hideAthDisplay"> <!--col is hidden is user is a Coach-->

  <!--strava activities AG grid for displaying the strava activities-->
<div class="card" >
  <div class="card-header">
    <h3 class="card-title">Strava Activities</h3>
    </div>
<div class="card-block">
  <ag-grid-angular
  #agGrid
  class="ag-theme-alpine"
  style="width: 100%; height: 400px;"
  [rowData]="ActivityRowData | async"
  [columnDefs]="ActivityColumnDefs"
  rowSelection="single"
  (rowClicked)='onSelectionChangedStrava($event)'>
</ag-grid-angular>
</div>
</div>
</div>

  <div class="clr-col-6" *ngIf="!hideAthDisplay"> <!--col is hidden is user is a Coach-->

      <!--fitbit activities AG grid for displaying the fitbit activities-->


    <div class="card">
      <div class="card-header">
    <h3 class="card-title">Fitbit Sleeping Records</h3>
    </div>

    <div class="card-block">

      <ag-grid-angular
      #agGrid
      class="ag-theme-alpine"
      style="width: 100%; height: 400px;"
      [rowData]="FitBitRowData | async"
      [columnDefs]="FitbitActivityColumnDefs"
      rowSelection="single"
      (rowClicked)='onSelectionChangedFitbit($event)'>
    </ag-grid-angular>
    

</div>
</div>
</div>
</div>

<!-- Coach only section - starting coach display-->
<div class="clr-row" *ngIf="hideAthDisplay">
  <div class="clr-col-12">
    <div class="card">


      


      <div class="card-header">
      <h3 class="card-title">Client Activity</h3>
      </div>
          <div class="card-block">
            
            <ag-grid-angular
            #agGrid
            style="width: 100%; height: 400px;"
            id="myGrid"
            class="ag-theme-alpine"
            [modules]="modules"
            [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef"
            [masterDetail]="true"
            [detailCellRendererParams]="detailCellRendererParams"
            [rowData]="rowData"
            (firstDataRendered)="onFirstDataRendered($event)"
            (gridReady)="onGridReady($event)"
            ></ag-grid-angular>



              </div>
            </div>
          </div>
       </div>

<!-- Coach only section - ending coach display-->







<clr-modal [(clrModalOpen)]="MdopenAddexternalFitbit">      <!--add fitbit activity to DB records-->

  <h3 class="modal-title">Add this Fitbit entry to records ? </h3>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="mdCancelAddFitbit()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="mdAddFitbit()">Add</button>   
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="MdopenAddexternalStrava">      <!--add strava activity to DB records-->
  <h3 class="modal-title">Add this Strava entry to records ? </h3>    
  <div class="modal-body">
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="mdCancelAddStrava()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="mdAdd()">Add</button>   
  </div>
</clr-modal>