

<div class="content-container">
    <div class="content-area">
  
 <div class="clr-row">

  <div class="clr-col-4">
      </div>

      <div class="clr-col-4">
        
        <div class="center">
    <span class="spinner spinner-lg">
</span>
</div>


      </div>

      <div class="clr-col-4">

              </div>
              </div>
