<div class="content-area">
    <div *ngIf="message" class="alert alert-danger" role="alert">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <span *ngIf="message" class="alert-text">
                    {{message.text}}                </span>
            </div>
        </div>
    </div>



