<div class="content-container">
    <div class="content-area">



<div class="clr-row">

    <div class="clr-col-2">
        <clr-dropdown>
            <button type="button" class="btn btn-outline-primary" clrDropdownTrigger>
                Select Client
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen> 
                <button type="button" clrDropdownItem *ngFor="let ath of athleteData"  
                value={{athleteData.userName}} (click)="selectedClientHandler(ath.username)">  
                {{ath.username}} </button>
                    </clr-dropdown-menu>
                </clr-dropdown>
    </div>
    <div class="clr-col-10">
<div class="alert alert-info" role="alert" *ngIf = 'selectedClient'>
    <div class="alert-items">
        <div class="alert-item static">
            <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
            </div>
            <span class="alert-text">Currently Viewing data referencing Athlete : {{selectedClient}}</span>

        </div>
    </div>
</div>

</div>


</div>

<a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-right">
    <clr-icon shape="info-circle" size="24"></clr-icon>
    <span class="tooltip-content">Please utilize this calendar to allow your coach to track daily activities</span>
  </a>
  
  <div class="card">
    <div class="card-block">


      <div class="center" *ngIf = 'loadingBool'>
        <span class="spinner spinner-lg">
        </span>
        <p class="p5">Loading...</p>
         </div>


        <div class="center" *ngIf = '!selectedClient'>
            <span class="spinner spinner-lg">
                No client selected, please select.
            </span>
            <p class="p5">No client selected, please select.</p>
             </div>
  
  <full-calendar *ngIf = 'selectedClient' #calendar (dateClick)="handleDateClick($event)" (eventClick)="handleEventClick($event)" [plugins]="calendarPlugins" [eventSources]="eventsDouble"></full-calendar>
  
</div>
</div>

  <clr-modal [(clrModalOpen)]="mdOpenScheduleEvent">
      <h3 class="modal-title">Schedule Details</h3>
      <div class="modal-body">
  
          <form clrForm [formGroup]="PrescrobeCoachingForm">
  
  
            <clr-input-container>
              <label>Schedule Title</label>
              <input clrInput type="text" formControlName="title" name="title" required/>
          </clr-input-container>
  
  
              <div class="form-group">
                  <div class="select">
                      <clr-input-container>
                        <label>Are you working during this day?</label>
                        <select clrInput id="WorkingBool" formControlName="WorkingBool" (change)="selectedWorkingHandler($event)">
                          <option value="Yes">Yes</option>
                          <option value="No">No</option>
                        </select>
                      </clr-input-container>
                    </div>
                  </div>
                  <div class="form-group" [hidden]="selectedWorkOption == 'No'">
                      <clr-input-container>
                          <label>Work Start</label>
                          <input clrInput type="time" formControlName="workStart" name="workStart"/>
                          <clr-control-error>Please input your Sleep Start time</clr-control-error>
                      </clr-input-container>
                      </div>
                      <div class="form-group" [hidden]="selectedWorkOption == 'No'">
                      <clr-input-container>
                          <label>Work End</label>
                          <input clrInput type="time"  formControlName="workEnd" name="workEnd" required/>
                          <clr-control-error>Please input your Sleep End time</clr-control-error>
                      </clr-input-container>
                      </div> 
  
              <clr-input-container>
                  <label>Misc Notes for Schedule</label>
                  <input clrInput type="text" formControlName="miscNotes" name="miscNotes" required/>
                  <clr-control-error>Please input your Sleep Start time</clr-control-error>
              </clr-input-container>
          
          </form>
  
  
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-outline" (click)="mdCancel()">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="addSchedule()" [disabled]="!PrescrobeCoachingForm.valid">Ok</button>   
      </div>
  </clr-modal>
  
  
  
  
  <clr-modal [(clrModalOpen)]="viewEvent">
      <h3 class="modal-title"> <clr-icon shape="event" size="36"></clr-icon>
        {{eventTitle}}  -  {{eventDate}}</h3>
      <div class="modal-body">
        <div [hidden]="!eventWorkStart">
  
  
          <ul class="clr-timeline clr-timeline-vertical">              
              <li class="clr-timeline-step">
                <div class="clr-timeline-step-header">{{eventWorkStart}}</div>
                <clr-icon shape="dot-circle" aria-current="true" aria-label="Current"></clr-icon>
                <div class="clr-timeline-step-body">
                  <span class="clr-timeline-step-title">Work Start Time</span>
                  <span class="clr-timeline-step-description">    
                  </span>
                </div>
              </li>
           
              <li class="clr-timeline-step">
                <div class="clr-timeline-step-header">{{eventWorkEnd}}</div>
                <clr-icon shape="success-standard" aria-label="Completed"></clr-icon>
                <div class="clr-timeline-step-body">
                  <span class="clr-timeline-step-title">Work End Time</span>
                  <span class="clr-timeline-step-description">
                  </span>
                </div>
              </li>
            </ul>
  
        </div>
  
            <h5>Description of schedule</h5>
            <p>{{eventDetails}}</p>
  
      </div>
      <div class="modal-footer">
          <button type="submit" class="btn btn-danger" (click)="onClickDeleteSchedule()">Delete Record</button>
          <button type="button" class="btn btn-outline" (click)="mdCancel()">Ok</button>
      </div>
  </clr-modal>
</div>

</div>
