<div class="main-container">

<alert></alert>
    <!--main page app component header -->
<header class="header-6">
    <div class="branding">
        <a href="..." class="nav-link">
            <span class="title">Cycling Health Tracker</span>
        </a>
    </div>
    <div class="header-actions" *ngIf="currentUser">
        <clr-dropdown>
                           <!-- dropdown function with the current user details  -->

            <button class="nav-text" clrDropdownTrigger aria-label="open user profile"><clr-icon shape="user" class="is-solid"></clr-icon>
                {{currentUser.firstName}}        
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                <a (click)="userProfile()" clrDropdownItem>User Type : {{currentUser.userRole}} 
                </a>
                
                <a (click)="logout()" clrDropdownItem>Log out <clr-icon shape="logout"></clr-icon>
               <!-- button to call the logout function -->

            </a>

            </clr-dropdown-menu>
        </clr-dropdown>
    </div>
</header>

<!-- navigation bar within the main App component -->

<nav class="subnav" *ngIf="currentUser">
  <ul class="nav">
      <li class="nav-item" >
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">DashBoard </a>
      </li>
      <li class="nav-item" *ngIf="!isHiddenVal">
        <a class="nav-link" routerLink="/activityLogging" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Activity Logging</a>
      </li>
      <li class="nav-item" *ngIf="!isHiddenVal">
        <a class="nav-link" routerLink="/schedule" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Schedule</a>
      </li>
      <li class="nav-item" *ngIf="isHiddenVal">
        <a class="nav-link"  routerLink="/clientView" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Client View</a>
      </li>
      <li class="nav-item" *ngIf="isHiddenVal">
        <a class="nav-link"  routerLink="/coachingHandler" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Prescribe Coaching</a>
      </li>
  </ul>
</nav>
<!-- end of navigation bar within the main App component -->





<!-- main app container -->


    <div class="content-container">
        <div class="content-area">
          <router-outlet>


            <clr-modal [(clrModalOpen)]="viewProfile" >
                <h3 class="modal-title"> <clr-icon shape="user" size = "36"></clr-icon> User Profile </h3>
                <div class="modal-body">  

               
<!--error message and success message alerts for header of modal -->
<!--message strings returned from the Gateway API -->

                    <div class="alert alert-danger" role="alert" *ngIf="!!errorMessage">
                        <div class="alert-items">
                            <div class="alert-item static">
                                <div class="alert-icon-wrapper">
                                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                                </div>
                                <span *ngIf="!!errorMessage" class="alert-text">
                                    {{errorMessage}}                </span>
                            </div>
                        </div>
                    </div>
  
                    <div class="alert alert-success alert" role="alert" *ngIf="!!SuccessResponse">
                      <div class="alert-items">
                          <div class="alert-item static">
                              <div class="alert-icon-wrapper">
                                  <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                              </div>
                              <span *ngIf="!!SuccessResponse" class="alert-text">
                                  {{SuccessResponse}}                </span>
                          </div>
                      </div>
                  </div>

                    <clr-tabs>
                      
                  <clr-tab>

<!--General details modal for profile viewer -->

                            <button clrTabLink>General Details</button>
                            <ng-template [(clrIfActive)]="generalDetails">
                                <clr-tab-content>
                                    <form clr-form clr-form-compact [formGroup]="GeneralProfileForm" (change)="GeneralSelectedChangeHandler($event)">

                                    <div class="form-group">
                                        <clr-input-container>
                                          <label>First Name</label>
                                          <input clrInput type="text"  formControlName="FirstName" name="FirstName" required/>
                                      </clr-input-container>
                                  </div>
                                  <div class="form-group">
                                    <clr-input-container>
                                      <label>Last Name</label>
                                      <input clrInput type="text"  formControlName="LastName" name="LastName" required/>
                                  </clr-input-container>
                              </div>
             
                                              <div class="form-group">
                                                <clr-input-container>
                                                  <label>Email Address</label>
                                                  <input clrInput type="email"  formControlName="emailAddress" name="emailAddress" required/>
                                              </clr-input-container>
                                          </div>


                                          <div class="form-group">
                                            <button type="submit" class="btn btn-success" (click)="editGeneralProfile()" [disabled]="!generalChange">Submit</button>   
                                            <button type="submit" class="btn btn-primary" (click)="refreshAfterClick()">Ok</button>   
                                    </div>


                                        </form>

                                        
                                        
                                        


                             </clr-tab-content>
                            </ng-template>
                        </clr-tab>
                        <clr-tab *ngIf="!isHiddenVal">
                            <button clrTabLink >Athlete Details</button>
                            <ng-template [(clrIfActive)]="athleteDetails">
                                <clr-tab-content style="text-align: center;">
                
                           

                                          <form clr-form clr-form-compact [formGroup]="AthleteProfileForm" (change)="selectedChangeHandler($event)">
                                          <div class="form-group">
                                                <clr-input-container>
                                                  <label>Age</label>
                                                  <input clrInput type="number"  formControlName="age" name="age" required/>
                                              </clr-input-container>
                                          </div>
                                            
                                          <div class="form-group">
                                            <clr-input-container>
                                              <label>Weight</label>
                                              <input clrInput type="number"  formControlName="Weight" name="Weight" required/>
                                          </clr-input-container>
                                      </div>
                                      <div class="form-group">
                                        <clr-input-container>
                                          <label>Height</label>
                                          <input clrInput type="number"  formControlName="Height" name="Height" required/>
                                      </clr-input-container>
                                  </div>

                                  <div class="form-group">
                                        <button type="submit" class="btn btn-success" (click)="editAthleteDetails()" [disabled] ="!athEventChange" >Submit</button>   
                                        <button type="submit" class="btn btn-primary" (click)="refreshAfterClick()">Ok</button>   
                                </div>
    </form>
                                                   

    <div class="btn-group btn-primary">
        <button (click)="fitBitCall()" class="btn">Add Fitbit</button>
        <button (click)="stravaCall()" class="btn">Add Strava</button>
    </div>
                                </clr-tab-content>
                            </ng-template>
                        </clr-tab>

                        <clr-tab>
                        <button clrTabLink>Reset Password</button>
                        <ng-template [(clrIfActive)]="resetPassword">
                            <clr-tab-content>
          

                                <form clr-form clr-form-compact [formGroup]="ResetPasswordForm">


                                    <div class="form-group">
                                        <clr-input-container>
                                          <label>Current Password</label>
                                          <input clrInput type="password"  formControlName="CurrPassword" name="CurrPassword" required/>
                                      </clr-input-container>
                                  </div>


                                    <div class="form-group">
                                        <clr-input-container>
                                          <label>New Password</label>
                                          <input clrInput type="password"  formControlName="password" name="password" required/>
                                      </clr-input-container>
                                  </div>
                                  
                                  <div class="form-group">
                                    <clr-input-container>
                                      <label>Confirm Password</label>
                                      <input clrInput type="password"  formControlName="confirmPassword" name="confirmPassword" required/>
                                  </clr-input-container>
                              </div>

                              <div class="form-group">
                                <button type="submit" class="btn btn-success" (click)="passwordReset()" [disabled]="!ResetPasswordForm.valid">Add</button>   
                        </div>
     
                                    </form>


                         </clr-tab-content>
                        </ng-template>
                    </clr-tab>

                    <clr-tab>
                        <button clrTabLink>Privacy Policy</button>
                        <ng-template [(clrIfActive)]="privPolicy">
                            <clr-tab-content>
          
                                <p>Your privacy is important to us. It is Cycling Health Tracker's policy to respect your privacy regarding any information we may collect from you across our website, <a href="http://cyclingHealthTracker.com">http://cyclingHealthTracker.com</a>, and other sites we own and operate.</p>
                                <p>We only ask for personal information when we truly need it to provide a service to you. We collect it by fair and lawful means, with your knowledge and consent. We also let you know why we’re collecting it and how it will be used.</p>
                                <p>We only retain collected information for as long as necessary to provide you with your requested service. What data we store, we’ll protect within commercially acceptable means to prevent loss and theft, as well as unauthorized access, disclosure, copying, use or modification.</p>
                                <p>We don’t share any personally identifying information publicly or with third-parties, except when required to by law.</p>
                                <p>Our website may link to external sites that are not operated by us. Please be aware that we have no control over the content and practices of these sites, and cannot accept responsibility or liability for their respective privacy policies.</p>
                                <p>You are free to refuse our request for your personal information, with the understanding that we may be unable to provide you with some of your desired services.</p>
                                <p>Your continued use of our website will be regarded as acceptance of our practices around privacy and personal information. If you have any questions about how we handle user data and personal information, feel free to contact us.</p>
                                <p>This policy is effective as of 1 October 2019.</p>
                                <p></p>
              

                         </clr-tab-content>
                        </ng-template>
                    </clr-tab>

                    </clr-tabs>

                </div>
             
            </clr-modal>

            
          </router-outlet>
        </div>
    </div>
</div>

