

<div class="content-container">
    <div class="content-area">
  

  <div class="clr-row">
      <div class="clr-col-4">
      </div>

      <div class="clr-col-4">
          <div class="card">
              <div class="card-header">
              Register Form                  
              </div>
                  <div class="card-block">



                    <div class="alert alert-danger" role="alert" *ngIf="!!errorMessage">
                      <div class="alert-items">
                          <div class="alert-item static">
                              <div class="alert-icon-wrapper">
                                  <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                              </div>
                              <span *ngIf="!!errorMessage" class="alert-text">
                                  {{errorMessage}}                </span>
                          </div>
                      </div>
                  </div>

                  <div class="alert alert-success alert" role="alert" *ngIf="!!SuccessResponse">
                    <div class="alert-items">
                        <div class="alert-item static">
                            <div class="alert-icon-wrapper">
                                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                            </div>
                            <span *ngIf="!!SuccessResponse" class="alert-text">
                                {{SuccessResponse}}                </span>
                        </div>
                    </div>
                </div>
  
                <form clr-form clr-form-compact [formGroup]="Registerform">

                        <div class="form-group">
                            <div class="select">
                                <clr-input-container>
                                  <label>User Type</label>
                                  <select clrInput id="Role" formControlName="Role" (change)="selectedUserTypeChangeHandler($event)">
                                    <option value="Athlete">Athlete</option>
                                    <option value="Coach">Coach</option>
                                  </select>
      
                              </clr-input-container>
                              </div>
                            </div>

              

                            <div class="form-group" [hidden]="selectedUserTypeOption == 'Coach'">
                              <clr-input-container>
                                <label>Age</label>
                                <input clrInput type="number"  formControlName="age" name="age" required = "selectedUserTypeOption == '!Coach'"/>
                            </clr-input-container>
                        </div>
                            <div class="form-group" [hidden]="selectedUserTypeOption == 'Coach'">
                              <clr-input-container>
                                <label>Coach Email Address</label>
                                <input clrInput type="email"  formControlName="CoachEmail" name="CoachEmail" required/>
                            </clr-input-container>
                        </div>
                        <div class="form-group"[hidden]="selectedUserTypeOption == 'Coach'">
                          <clr-input-container>
                            <label>Weight</label>
                            <input clrInput type="number"  formControlName="Weight" name="Weight" required/>
                        </clr-input-container>
                    </div>
                    <div class="form-group"[hidden]="selectedUserTypeOption == 'Coach'">
                      <clr-input-container>
                        <label>Height</label>
                        <input clrInput type="number"  formControlName="Height" name="Height" required/>
                    </clr-input-container>
                </div>

                <div class="form-group">
                  <clr-input-container>
                    <label>First Name</label>
                    <input clrInput type="text"  formControlName="FirstName" name="FirstName" required/>
                </clr-input-container>
            </div>
            <div class="form-group">
              <clr-input-container>
                <label>Last Name</label>
                <input clrInput type="text"  formControlName="LastName" name="LastName" required/>
            </clr-input-container>
        </div>

                            <div class="form-group">
                              <clr-input-container>
                                <label>UserName</label>
                                <input clrInput type="text"  formControlName="userName" name="userName" required/>
                            </clr-input-container>
                        </div>

                        <div class="form-group">
                          <clr-input-container>
                            <label>Email Address</label>
                            <input clrInput type="email"  formControlName="emailAddress" name="emailAddress" required/>
                        </clr-input-container>
                    </div>


                        <div class="form-group">
                          <clr-input-container>
                            <label>Password</label>
                            <input clrInput type="password"  formControlName="password" name="password" required/>
                        </clr-input-container>
                    </div>

        
                    <div class="form-group">
                      <clr-input-container>
                        <label>Confirm Password</label>
                        <input clrInput type="password"  formControlName="confirmPassword" name="confirmPassword" required/>
                    </clr-input-container>
                </div>
              </form>

              <p>By regsistering, you are agreeing to Cycling Health Trackers <a (click)="openPrivModal()">Privacy Policy</a>
              </p>
              <p></p>



            <button type="submit" class="btn btn-success" (click)="mdRegRq()" [disabled]="!Registerform.valid">Add</button>   
            <a routerLink="/login" class="btn btn-link">Cancel</a>




                          
            </div>
          </div>
        </div>

  
          <div class="clr-col-4">

              </div>
              </div>
              </div>


              <clr-modal [(clrModalOpen)]="mdOpenPrivStatement">
                <h3 class="modal-title">Privacy Policy</h3>
                <div class="modal-body">


                  <p>Your privacy is important to us. It is Cycling Health Tracker's policy to respect your privacy regarding any information we may collect from you across our website, <a href="http://cyclingHealthTracker.com">http://cyclingHealthTracker.com</a>, and other sites we own and operate.</p>
                  <p>We only ask for personal information when we truly need it to provide a service to you. We collect it by fair and lawful means, with your knowledge and consent. We also let you know why we’re collecting it and how it will be used.</p>
                  <p>We only retain collected information for as long as necessary to provide you with your requested service. What data we store, we’ll protect within commercially acceptable means to prevent loss and theft, as well as unauthorized access, disclosure, copying, use or modification.</p>
                  <p>We don’t share any personally identifying information publicly or with third-parties, except when required to by law.</p>
                  <p>Our website may link to external sites that are not operated by us. Please be aware that we have no control over the content and practices of these sites, and cannot accept responsibility or liability for their respective privacy policies.</p>
                  <p>You are free to refuse our request for your personal information, with the understanding that we may be unable to provide you with some of your desired services.</p>
                  <p>Your continued use of our website will be regarded as acceptance of our practices around privacy and personal information. If you have any questions about how we handle user data and personal information, feel free to contact us.</p>
                  <p>This policy is effective as of 1 October 2019.</p>
                  <p></p>

                  <button (click)="privClose()" class="btn btn-primary btn-block">Ok</button>
                </div>


            </clr-modal>
