<div class="content-container">
<div class="content-area">

    <div class="clr-row">


        <div class="clr-col-2">


            <clr-dropdown>
                <button type="button" class="btn btn-outline-primary" clrDropdownTrigger>
                    Select Client
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen> 
                    <button type="button" clrDropdownItem *ngFor="let ath of athleteData"  
                    value={{athleteData.userName}} (click)="selectedClientHandler(ath.username)">  
                    {{ath.username}} </button>
                        </clr-dropdown-menu>
                    </clr-dropdown>
        
        </div>

        <div class="clr-col-10">



    <div class="alert alert-info" role="alert" *ngIf = 'selectedClient'>
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
                </div>
                <span class="alert-text">Currently Viewing data referencing Athlete : {{selectedClient}}</span>

            </div>
        </div>
    </div>

</div>


</div>







    <div class="clr-row">
        <div class="clr-col-12" >
            <div class="card">
                <div class="card-block">

                    <div class="center" *ngIf = '!selectedClient'>
                        <span class="spinner spinner-lg">
                            No client selected, please select.
                        </span>
                        <p class="p5">No client selected, please select.</p>
                         </div>

<div class="clr-row" *ngIf = 'selectedClient'>
    <div class="clr-col-2">
        <span></span>
    </div>
    <div class="clr-col-6">

        <div [hidden]="!sleepActive">
            <div class="chart-container">
            <canvas id="canvasSleep"></canvas>
        </div>
    </div> 

    <div [hidden]="!activityActive" >

        <div class="chart-container" >
        <canvas id="canvas"></canvas>
        </div>
    </div>


</div>
    <div class="clr-col-4">
    <span></span>
    </div>
</div>





<div class="clr-row" *ngIf = 'selectedClient'>
    <div class="clr-col-12">
        <div class="card">
            <div class="card-block">
              <clr-tabs>
                <clr-tab>
                    <button clrTabLink >Cycling Activities</button>
                    <ng-template [(clrIfActive)]="activityActive">

                        <clr-tab-content style="text-align: center;">
                            <ag-grid-angular
                            #agGrid
                            class="ag-theme-alpine"
                            style="width: 100%; height: 400px;"
                            [rowData]="ActivityRowData | async"
                            [columnDefs]="ActivityColumnDefs"
                            rowSelection="single"
                            (rowClicked)='onSelectionChanged($event)'>
                        </ag-grid-angular>
                        </clr-tab-content>
                    </ng-template>
                </clr-tab>
                <clr-tab>
                    <button clrTabLink>Sleep Activities</button>
                    <ng-template [(clrIfActive)]="sleepActive">
                        <clr-tab-content>
      
<ag-grid-angular
    #agGrid
    class="ag-theme-alpine"
    style="width: 100%; height: 400px;"
    [rowData]="rowData | async"
    [columnDefs]="columnDefs"
    rowSelection="single"
    (rowClicked)='onSelectionChanged($event)'

    >
</ag-grid-angular>

                            
                     </clr-tab-content>
                    </ng-template>
                </clr-tab>
            </clr-tabs>

        
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>
</div>