<div class="content-container">
    <div class="content-area">


<div class="clr-row">
    <div class="clr-col-2">
        <span></span>
    </div>
    <div class="clr-col-6">

        <div [hidden]="!sleepActive">
            <div class="chart-container">
            <canvas id="canvasSleep"></canvas>
        </div>
    </div> 

    <div [hidden]="!activityActive" >

        <div class="chart-container" >
        <canvas id="canvas"></canvas>
        </div>
    </div>


</div>
    <div class="clr-col-4">
    <span></span>
    </div>
</div>





<div class="clr-row">
    <div class="clr-col-12">
        <div class="card">
            <div class="card-block">
              <button (click)="mdOPAdd()" class="btn btn-primary">Add Entity</button>
              <clr-tabs>
                <clr-tab>
                    <button clrTabLink >Cycling Activities</button>
                    <ng-template [(clrIfActive)]="activityActive">
       <!-- using AG grid to view the data -->

                        <clr-tab-content style="text-align: center;">
                            <ag-grid-angular
                            #agGrid
                            class="ag-theme-alpine"
                            style="width: 100%; height: 400px;"
                            [rowData]="ActivityRowData | async"
                            [columnDefs]="ActivityColumnDefs"
                            rowSelection="single"
                            (rowClicked)='onSelectionChanged($event)'>
                        </ag-grid-angular>
                        </clr-tab-content>
                    </ng-template>
                </clr-tab>
                <clr-tab>
                    <button clrTabLink>Sleep Activities</button>
                    <ng-template [(clrIfActive)]="sleepActive">
                        <clr-tab-content>
       <!-- using AG grid to view the data -->
<ag-grid-angular
    #agGrid
    class="ag-theme-alpine"
    style="width: 100%; height: 400px;"
    [rowData]="rowData | async"
    [columnDefs]="columnDefs"
    rowSelection="single"
    (rowClicked)='onSelectionChanged($event)'

    >
</ag-grid-angular>

                            
                     </clr-tab-content>
                    </ng-template>
                </clr-tab>
            </clr-tabs>

            <clr-modal [(clrModalOpen)]="mdOpenEditActivity">
                <h3 class="modal-title">Activity Details - {{activityDate}}</h3>
                <div class="modal-body">

                    <ul class="clr-timeline clr-timeline-vertical">
            
                        <li class="clr-timeline-step">
                          <clr-icon shape="dot-circle" aria-current="true" aria-label="Current"></clr-icon>
                          <div class="clr-timeline-step-body">
                            <span class="clr-timeline-step-title">Activity Type</span>
                            <span class="clr-timeline-step-description">
                                {{activityType}}


                            </span>
                          </div>
                        </li>
                     
                        <li class="clr-timeline-step">
                            <clr-icon shape="dot-circle" aria-current="true" aria-label="Current"></clr-icon>
                            <div class="clr-timeline-step-body">
                            <span class="clr-timeline-step-title">Activity Amount (Minutes)</span>
                            <span class="clr-timeline-step-description">

                                {{activityAmount}}
                            </span>
                          </div>
                        </li>
                 
                        <li class="clr-timeline-step">
                            <clr-icon shape="dot-circle" aria-current="true" aria-label="Current"></clr-icon>
                            <div class="clr-timeline-step-body">
                            <span class="clr-timeline-step-title">Activity Quality</span>
                            <span class="clr-timeline-step-description">

                                {{quality}}
                            </span>
                          </div>
                        </li>

                      <li class="clr-timeline-step">
                        <clr-icon shape="dot-circle" aria-current="true" aria-label="Current"></clr-icon>
                        <div class="clr-timeline-step-body">
                        <span class="clr-timeline-step-title">Activity Intensity</span>
                        <span class="clr-timeline-step-description">

                            {{intensity}}

                        </span>
                      </div>
                    </li>
                  </ul>
         


 <!-- Button for Ok or delete the activity -->
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" (click)="onClickDeleteActivity()">Delete Record <clr-icon shape="trash"></clr-icon>
                    </button>
                    <button type="button" class="btn btn-primary" (click)="mdEdit()">Ok</button>   
                </div>
            </clr-modal>
            
        
            <!-- Edit sleep entry -->
            <!-- Model for editing a sleep entry which is being filled from the agGrid node -->
            <!--Timeline CLR for viewing sleep data from the Server -->

            <clr-modal [(clrModalOpen)]="mdOpenEdit">
                <h3 class="modal-title">Sleep Details - {{sleepDate}}</h3>
                <div class="modal-body">

                    <ul class="clr-timeline clr-timeline-vertical">
            
                        <li class="clr-timeline-step">
                            <clr-icon shape="moon"></clr-icon>
                          <div class="clr-timeline-step-body">
                            <span class="clr-timeline-step-title">Sleep Start</span>
                            <span class="clr-timeline-step-description">
                                {{sleepStart}}


                            </span>
                          </div>
                        </li>
                     
                        <li class="clr-timeline-step">
                            <clr-icon shape="sun"></clr-icon>
                            <div class="clr-timeline-step-body">
                            <span class="clr-timeline-step-title">Sleep End</span>
                            <span class="clr-timeline-step-description">

                                {{sleepEnd}}
                            </span>
                          </div>
                        </li>
                 
                        <li class="clr-timeline-step">
                            <clr-icon shape="clock"></clr-icon>
                            <div class="clr-timeline-step-body">
                            <span class="clr-timeline-step-title">Sleep Amount</span>
                            <span class="clr-timeline-step-description">

                                {{sleepAmount}}
                            </span>
                          </div>
                        </li>



                        <li class="clr-timeline-step">
                            <clr-icon shape="unknown-status"></clr-icon>
                            <div class="clr-timeline-step-body">
                              <span class="clr-timeline-step-title">Sleep Quality</span>
                              <span class="clr-timeline-step-description">
      
                                  {{sleepQuality}}
      
                              </span>
                            </div>
                          </li>


                  </ul>
         

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" (click)="onClickDeleteSleep()">Delete Record <clr-icon shape="trash"></clr-icon></button>
                    <button type="button" class="btn btn-primary" (click)="mdEdit()">Ok</button>   
                </div>
            </clr-modal>

 <!-- error and response fields for response back from API -->
            <clr-modal [(clrModalOpen)]="mdOpenAddEntityActivity">
                <h3 class="modal-title">Add Activity Entry</h3>
                <div class="modal-body">

                    <div class="alert alert-success alert" role="alert" *ngIf="!!SuccessResponse">
                        <div class="alert-items">
                            <div class="alert-item static">
                                <div class="alert-icon-wrapper">
                                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                                </div>
                                <span *ngIf="!!SuccessResponse" class="alert-text">
                                    {{SuccessResponse}}                </span>
                            </div>
                        </div>
                    </div>


                    <div class="alert alert-danger" role="alert" *ngIf="!!errorMessage">
                        <div class="alert-items">
                            <div class="alert-item static">
                                <div class="alert-icon-wrapper">
                                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                                </div>
                                <span *ngIf="!!errorMessage" class="alert-text">
                                    {{errorMessage}}                </span>
                            </div>
                        </div>
                    </div>
            <!-- Activity Entry form for inserting activity entity -->



            
            <form clrForm [formGroup]="ActivityEntryForm">

                        <div class="form-group">
                            <clr-date-container>
                                <label>Activity Date</label>
                                <input type="date" clrDate name="activityDate" formControlName="activityDate" name="activityDate"/>
                            </clr-date-container>
                    </div>
   
                    <div class="form-group">
                        <div class="select">
                            <clr-input-container>
                              <label>Activity Type</label>
                              <select clrInput id="ActivityType" formControlName="activityType" (change)="selectedTypeChangeHandler($event)">
                                <option value="road">Road Cycling</option>
                                <option value="MTB">Mountain Biking</option>
                                <option value="gym">Gym</option>
                              </select>
                              <clr-control-error>
                                  This field is required!
                              </clr-control-error>
                            </clr-input-container>
                          </div>
                        </div>
                        <div class="form-group">
                          <clr-input-container>
                            <label>Activity Amount (Minutes)</label>
                            <input clrInput type="number"  formControlName="activityAmount" name="activityAmount" required/>
                            <clr-control-error>Please input your Sleep End time</clr-control-error>
                        </clr-input-container>
                    </div>
                    <div class="form-group">
                            <div class="select">
                                <clr-input-container>
                                  <label>Activity Quality</label>
                                  <select clrInput id="quality" formControlName="quality" (change)="selectedQualityChangeHandler($event)">
                                    <option value="good">Good</option>
                                    <option value="medium">Medium</option>
                                    <option value="bad">Bad</option>
                                  </select>
                                </clr-input-container>
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="select">
                                <clr-input-container>
                                  <label>Activity Intensity</label>
                                  <select clrInput id="intensity" formControlName="intensity" (change)="selectedIntensityChangeHandler($event)">
                                    <option value="high">High</option>
                                    <option value="medium">Medium</option>
                                    <option value="low">Low</option>
                                  </select>
                                </clr-input-container>
                              </div>
                            </div>
                            <div class="form-group">
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success" (click)="mdAddActivityRq()" [disabled]="!ActivityEntryForm.valid">Add</button>   
                                <button type="submit" class="btn btn-primary" (click)="refreshAfterClick()">Ok</button>   
                            </div>
                        </div>
                    </form>
                </div>
            </clr-modal>


               

 <!-- ----------------------------------------------------- -->
                   <!-- Sleep entrys -->
 <!-- ----------------------------------------------------- -->


 <!-- Sleep Entry form modal - form is inside of this modal -->
  
        
            <clr-modal [(clrModalOpen)]="mdOpenAddEntity">
                <h3 class="modal-title">Add Sleep Entry</h3>
                <div class="modal-body">


                    <div class="alert alert-success alert" role="alert" *ngIf="!!SuccessResponse">
                        <div class="alert-items">
                            <div class="alert-item static">
                                <div class="alert-icon-wrapper">
                                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                                </div>
                                <span *ngIf="!!SuccessResponse" class="alert-text">
                                    {{SuccessResponse}}                </span>
                            </div>
                        </div>
                    </div>


                    <div class="alert alert-danger" role="alert" *ngIf="!!errorMessage">
                        <div class="alert-items">
                            <div class="alert-item static">
                                <div class="alert-icon-wrapper">
                                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                                </div>
                                <span *ngIf="!!errorMessage" class="alert-text">
                                    {{errorMessage}}                </span>
                            </div>
                        </div>
                    </div>

                   <!-- Sleep Entry form for inserting sleep entity -->
                    <form clrForm [formGroup]="sleepEntryForm">
                        <div class="form-group">
                            <clr-date-container>
                                <label>Sleep Date</label>
                                <input type="date" clrDate name="sleepDate" formControlName="sleepDate" name="sleepDate"/>
                            </clr-date-container>
                        </div>
                        <div class="form-group">
                        <clr-input-container>
                            <label>Sleep Start</label>
                            <input clrInput type="time" formControlName="sleepStart" name="sleepStartIN" required/>
                            <clr-control-error>Please input your Sleep Start time</clr-control-error>
                        </clr-input-container>
                        </div>
                        <div class="form-group">
                        <clr-input-container>
                            <label>Sleep End</label>
                            <input clrInput type="time"  formControlName="sleepEnd" name="sleepEndIN" required/>
                            <clr-control-error>Please input your Sleep End time</clr-control-error>
                        </clr-input-container>
                        </div> 
                        <div class="form-group">
                            <div class="select">
                                <clr-input-container>
                                  <label>Sleep Quality</label>
                                  <select clrInput id="sleepQuality" formControlName="sleepQuality" (change)="selectedChangeHandler($event)">
                                    <option value="good">Good</option>
                                    <option value="medium">Medium</option>
                                    <option value="bad">Bad</option>
                                  </select>
                                </clr-input-container>
                              </div>
                            </div>
                <div class="modal-footer">
                    <div class="form-group">
                    <button type="submit" class="btn btn-success" (click)="mdAddRq()" [disabled]="!sleepEntryForm.valid">Add</button>   
                    <button type="submit" class="btn btn-primary" (click)="refreshAfterClickSleep()">Ok</button>   

                </div>
            </div>
        </form>
    </div>
</clr-modal>         
</div>
</div>
</div>

   </div>
</div>

